<!DOCTYPE html>

<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="試みの地平線のデータベースです">
  <meta name="keyword" content="悩み相談,北方謙三">
</head>

<body>
  <header class="title">
    <img src="https://daedalustudio.com/wp-content/uploads/2019/04/ikea_2019_logo.png" alt="" class="img">
  </header>

  <div class="wrapper">

    <%= render partial: "sidebar" %>

    <div class="counseling">
      <% @counselings.each do |counseling| %>
        <%= render partial: "counseling", locals: { counseling: counseling } %>
      <% end %>
      <%# <%= render partial: 'counseling' %>
      <%# <%= render partial: 'counseling', collection: @counselings %>
        <%# <%= render partial: "counseling/counseling", locals: { counseling: counseling} %>
    </div>

  </div>

  <footer class="footer">
    <p>免責事項みたいなアレ</p>
  </footer>

</body>



</html>